@font-face {
  font-family: 'UrbaneCondensed'; /* Nombre que darás a la fuente */
  src: url('./assets/fonts/Inter.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(15 23 42 / 1);; /* Fondo #076ab0 */  
  margin: 0;
  padding: 0;
  font-family: 'UrbaneCondensed', Arial, sans-serif;
  color: #c4c4c4;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

h1, h2, h3 {
  color: #ffffff;
}

a {
  color: #c4c4c4;
  text-decoration: none;
}

a:hover, a.active  {
  color: #ffffff;
}


.App {
  display: flex;
  width: 100%; /* Las columnas juntas ocupan el 50% del ancho total */
  max-width: 1200px; /* Limitar el ancho máximo de .App */  
}

.left-panel,
.right-panel { 
  padding: 20px;
  box-sizing: border-box;
  padding-top: 120px;
}

.left-panel {
  width: 30%; /* Cada columna ocupa la mitad del contenedor padre (.App) */
  background-color: transparent;
  position: sticky;
  top: 0;
  height: 100vh; /* Altura completa del viewport para la columna izquierda */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-panel {
  width: 70%; /* Cada columna ocupa la mitad del contenedor padre (.App) */
  overflow-y: auto; /* Asegura que la columna derecha pueda desplazarse */
}

.perfil img {
  width: 100px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}


nav ul li a.active {
  font-weight: bold;
}

section {
  margin-bottom: 40px;
}

.contacto p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto a {
  margin: 0 15px;
  font-size: 1.5rem; /* Aumentar el tamaño de los iconos */
}


.contacto svg {
  margin: 0;
  /* color: #c0c0c0; */
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  color: #70fff3;
  background-color: #12867d9d;
  /* border: 1px solid #2fc0b4d3; */
  border-radius: 16px;
  padding: 2px 8px;
  margin-right: 5px;  
  margin-top: 5px;  
  font-size: 12px;
}

.cv-link {
  text-decoration: none; /* Remove underline */
  /* color: #ffffff */
}

/* Proyect tiles */

.proyectos {
  margin-top: 20px;
}

.proyectos h2 {
  margin-bottom: 20px;
}

.proyectos p {
  margin-bottom: 20px;
}

.project-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.project {
  display: flex;
  align-items: top;
  margin-bottom: 20px;
  position: relative; /* Ensure the pseudo-element is positioned relative to the item */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.project:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Ligero cambio de color al pasar el mouse */
  transform: translateY(-5px); /* Slight lift on hover */
}

.project:hover::after {
  content: '↗'; /* Unicode arrow character pointing up and right */
  position: absolute;
  right: 10px; /* Adjust as needed */
  font-size: 1.2em; /* Adjust size as needed */
  color: inherit; /* Inherit text color */
}

.project:hover h3 {
  color: #70fff3; /* Change title color on hover */
}

.project h3 {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Optionally remove bottom margin */
}

.project-description {
  flex: 1;
  padding-right: 20px;
}

.project-image img {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the container */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Experience tiles */
.experience-item {
  display: flex;
  align-items: flex-start; /* Align items by the top */
  margin-bottom: 20px;
  position: relative; /* Ensure the pseudo-element is positioned relative to the item */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  padding: 10px;
  /* transition: background-color 0.3s ease; Efecto de transición al pasar el mouse */
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.experience-item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.experience-date {
  font-size: 0.8em; /* 0.8 of the rest of the text */
  color: rgb(192, 192, 192); /* Gray color */
  /* padding: 0; */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  margin-right: 20px; /* Add some space between date and details */
}

.experience-details {
  flex: 1; /* Take up the remaining space */
  margin: 0;
}

.experience-details h3 {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Optionally remove bottom margin */
}


.experience-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Ligero cambio de color al pasar el mouse */
}

.experience-item:hover::after {
  content: '↗'; /* Unicode arrow character pointing up and right */
  position: absolute;
  right: 10px; /* Adjust as needed */
  font-size: 1.2em; /* Adjust size as needed */
  color: inherit; /* Inherit text color */
}

.experience-item:hover h3 {
  color: #70fff3; /* Change title color on hover */
}


.App {
  display: flex;
  flex-direction: row;
}

.left-panel, .right-panel {
  flex: 1;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .left-panel{
    position: inherit;
  }

   
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    margin-bottom: 0;
  }

  .experience-item {
    flex-direction: column; /* Stack items vertically */
  }

  .experience-date {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }
}




